.admin-content-con{
    margin-top: 20px;
    background-color: white;
    border: 4px solid #e7eaec;
    padding-left: 5px;
    padding-right: 5px;
}
.dashboard-left-cell{
    padding-right: 5px;
}
.dashboard-right-cell{
    padding-left: 5px;
}
.admin-content-con header{
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.admin-content-con h5{
    margin: 0px;
    padding-top: 3px;
}
.text-link{
    color: #676767;
}
.text-link:hover{
    color: #676767;
}
.commenter-name-dash{
    font-weight: bold;
    font-size: 13px;
}
.comment-head-dash{
    margin-bottom: 6px;
}
.comment-dash{
    margin-bottom: 5px;
}
.comment-date-dash{
    color: #999;
}
#dashboard-con{
 padding-bottom: 100px;
}