html, body{
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
    Geneva, Verdana, sans-serif;  
    color: #222;
}
.navbar{
    padding: .8rem;
}

.navbar-nav li{
    padding-right: 20px;
}
.nav-link{
    font-size: 1.1em !important;
}
.carousel-inner img{
    height: 100%;
    width: 100%;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h2{ 
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
}
.carousel-caption small{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.btn-primary{
    background-color: #6648b1;
    border: 1px solid #563d7c;
}
.btn-primary:hover{
    background-color: #66487c;
    border: 1px solid #563d7c;
}
.jumbotron{
    padding: 1rem;
    border-radius: 0px;
}

.padding{
    padding-bottom: 2rem;
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3em;
    margin-bottom: 1rem;
}
/*////////////////////////*/
.fa-code{
    color: #e54d26;
}
.fa-bold{
    color: #563d7c;
}
.fa-python{
    color: #2163af;
}
.fa-code, .fa-bold, .fa-python{
    font-size: 4em;
    margin: 1rem;
}
.fun{
    width: 100%;
    margin-bottom: 20px;
}
.social a{
    font-size: 4.5em;
    padding: 3rem;
}
.fa-facebook{
    color: #3b5990;
}
.fa-twitter{
    color: #00aced;
}
.fa-google-plus-g{
    color: #dd4b39;
}
.fa-instagram{
    color: #517fa4;
}
.fa-youtube{
    color: #bb0000;
}
.fa-envelope{
    color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.fa-envelope{
    color: #d5d5d5;
}
.fa-envelope{
    color: crimson;
}
footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a{
    color: #d5d5d5;
}
hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
/* media queries */
@media(max-width: 992px){
    .social a{
        font-size: 4em;
        padding: 2rem;
    }
   
}
@media (max-width: 768px){
   
    .carousel-caption{
        top: 45%;
    }
    .carousel-caption h2{ 
        font-size: 350%;
       }
    .carousel-caption h3{
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
    }
    .carousel-caption .btn{
        font-size: 95%;
        padding: 8px 14px;
    }
    .display-4{
         font-size: 200%;
    }
    
    .social a{
        font-size: 2.5em;
        padding: 1.2rem;
    }
}
@media (max-width: 576px){
    .carousel-caption{
        top: 40%;
    }
    .carousel-caption h2{ 
        font-size: 250%;
       }
    .carousel-caption h3{
        font-size: 110%;
        font-weight: 400;
        padding-bottom: .2rem;
    }
    .carousel-caption .btn{
        font-size: 95%;
        padding: 4px 8px;
    }
    .carousel-indicators{
        display: none;
    }
    .display-4{
         font-size: 40%;
         font-weight: bolder;
    }
    .social a{
        font-size: 2em;
        padding: .7rem;
    }
}
/*firefox bug fix*/
.carousel-item{
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/* fixed background*/
figure{
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 !important;
}
.fixed-wrap{
    clip: rect(0,auto,auto,0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed{
    background-image: url("../images/American-muscle-cars.jpg");  
    position: fixed;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
}
/* bootsrap padding */
[class*='col-']{
    padding: 1em;
}
.gif{
    height: 300px;
    width: 100%;
}
/* 
Extra small (xs) devices (portrait phones, less than 576)
No media query since this is the default in bootstrap

Small (sm) devices (landscape phones, 576px and up
@media
*/
/*booktour page styeles*/
.profilename{
    float: left;
    font-size: 70%;
}
.profilename span{
    text-transform: capitalize;
}
.skillname{
    font-size: 70%;
    float: left;
}
.places{
    border: #777777 inset 2px;
    border-radius: 5px;
    margin: 10px;
}
.placename{
    margin-top: 10px;
    margin-left: 20px;
    font-style: normal bold 20px;
    text-decoration: underline;
    float: left;
}
.places img{
    float: left;
    margin: 20px;
}
.placedetail{
    padding: 25px;
    text-align: left;
}
.tourguide{
    color: white;
    background-color: #222222;
    border: #00aced 1px;
    border-radius: 5px;
}
/* .tourguide:hover{
    border-width: 5px;
    border-style: outset;
    border-color: #00aced;
} */
/* .imagename:hover{
    border-width: 3px;
    border-style: outset;
    border-color: #00aced;
} */
#imagebg{
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('../images/carousel/4.jpg');
    text-align: center;
    vertical-align: center;
    margin: 10%;
    color: white;

}
.navbar-brand img{
    border-radius: 10%;
}
/* package style */
.package:hover{
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.price{
    color: white;
}
.attraction{
    border: #555 solid 1px;
    padding: 2%;
    border-radius: 5px;
    margin: 5%;
    text-align: justify;
}
.cont-width{
    width: 60%;
}
.border{
    padding: 5%;
}
.panel-title{
    font-weight: bolder;
    text-decoration: underline;
}
.panel-title i{
    color: crimson;
}

#aboutbackimg{
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: center;
    color: white;
    height: 300px;
    background-image: url("../images/carousel/8.jpg");
}
#aboutbackimg div{
    padding: 5%;
}

