html, body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #f3f3f4;
    color: #676a6c;
    height: 100%;
    width: 100%;
    text-align: center;
}
.navbar-brand,
.register{
    color: #ffffff !important;
}
.container-fluid{
    margin-top: 50px;
}
.navbar{
    margin-bottom: 50px;
}
.form-wrapper{
    background-color: #eee;
    padding: 20px;
    margin-top: 50px;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus{
    background-color: #1ab349;
    border: 1px solid #1ab349;
}
#content{
    background-color: #fff;
    border-top: 4px #e7eaec solid;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
#content header{
    border-bottom: 1px #f3f3f4;
    padding: 1% 2%;
}
.page-title{
    font-size: 24px;
    font-weight: bold;
}
.content-inner{
    padding: 5%;
}
@media (max-width: 992px){
    #content{
        background-color: #fff;
        border-top: 4px #e7eaec solid;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5%;
    }
    #content header{
        border-bottom: 1px #f3f3f4;
        padding: 1% 2%;
    }
    .page-title{
        font-size: 24px;
        font-weight: bold;
    }
    .content-inner{
        padding: 5%;
    }
}
@media (max-width: 768px){
    #content{
        background-color: #fff;
        border-top: 4px #e7eaec solid;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2.5%;
    }
    #content header{
        border-bottom: 1px #f3f3f4;
        padding: 1% 2%;
    }
    .page-title{
        font-size: 20px;
        font-weight: bold;
        margin: 0px;
    }
    .content-inner{
        padding: 3%;
    }
}
@media(max-width: 576px ){
    #content{
        background-color: #fff;
        border-top: 4px #e7eaec solid;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 10%;
    }
    #content header{
        border-bottom: 1px #f3f3f4;
        padding: 1% 2%;
    }
    .page-title{
        font-size: 12px;
        font-weight: bold;
        margin: 0px;
    }
    .content-inner{
        padding: 2%;
    }
}