{% extends 'hotel_manager/layout.html' %}

{% block history%}
<li class="link active">
    <a href="/manager/history">
        <span class="glyphicon glyphicon-time" aria-hidden="true" ></span>
        <span class="hidden-xs hidden-sm">History</span>
    </a>
</li>
{%endblock%}
                                
{%block content%}
	
<div id="content">
    <header class="clearfix">
        <h2 class="page-title pull-left">Reservation Log</h2>
        <a href="/manager/add-rooms" class="pull-right btn-xs btn btn-primary">
        	Add Room
        	<span class="glyphicon glyphicon-plus"></span>
        </a>
    </header>
    <div class="content-inner">
        <table class="table table-striped table-bordered table-hover table-condensed ">
            <thead>
                <tr class="success">
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Arrival day</th>
                    <th>Booked At</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for log in bookedrooms %}
                <tr>
                    <td>{{log.id}}</td>
                    <td>{{log.person.fullname }}</td>
                    <td>{{log.person.email}}</td>
                    <td>{{log.phone}}</td>
                    <td>{{log.person.startdate.strftime('%D')}}</td>
                    <td>{{log.booked_at.strftime('%a %b %Y')}}</td>
                    <td>
                        <a href="#" class="btn btn-xs btn-info ">
                        <label class="hidden-xs"> Export</label>
                        <span class="glyphicon glyphicon-export"></span>
                        </a>
                       
                    </td>
                </tr>

                {% endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}