{% extends 'admin/layout.html' %}

<!-- side bar active -->
{% block places %}
<li class="link active">
    <a href="/admin/place">
        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
        <span class="hidden-xs hidden-sm">Tourist Destinations</span>
    </a>
</li>
{% endblock %}

{% block content %}
<div id="content">
    <header>
        <h2 class="page-title">Register New Tourist Destinations</h2>
    </header>
    <div class="content-inner">
        <div class="form-wrapper">
        {% from "./includes/_formhelpers.html" import render_field, render_select_field %}
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag()}}
                <!-- name -->
                {{ render_field(form.pname, placeholder=form.pname.label.text )}}
                <!-- locaiton -->
                {{ render_field(form.plocation, placeholder=form.plocation.label.text )}}
                <!-- longitude -->
                {{ render_field(form.longfield, placeholder=form.longfield.label.text )}}
                <!-- latitude -->
                {{ render_field(form.latfield, placeholder=form.latfield.label.text )}}
                <!-- distance -->
                {{ render_field(form.pdistance, placeholder=form.pdistance.label.text )}}
                <!-- detail -->
                {{ render_field(form.pdetail, placeholder=form.pdetail.label.text )}}
                <!-- category -->
                {{ render_select_field(form.category, placeholder=form.category.label.text, 
                    class_="form-control chosen-select")}}
                <!-- price -->
                {{ render_field(form.pprice, placeholder=form.pprice.label.text)}}
                <div class="clearfix">

                </div>
                <div class="clearfix">
                    <button type="submit" class="btn btn-primary pull-right">Save </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    CKEDITOR.replace('placebio');  
</script>
{% endblock %}