{% extends 'admin/layout.html' %}
<!-- css and js links -->
{% block links %}
<link rel="stylesheet" href="../static/css/articles.css">
{% endblock %}
<!-- sidebar active -->
{% block package %}
<li class="link active">
    <a href="/admin/packages" >
        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
        <span class="hidden-xs hidden-sm">Packages</span>
    </a>
</li>
{% endblock %}

{% block content %}
<div id="content">
    <header class="clearfix">
        <h2 class="page-title pull-left">All packages</h2>
        <a href="/admin/add_new_packages" class="pull-right btn-xs btn btn-primary">Add New packages</a>
    </header>
    <div class="content-inner">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Package title</th>
                    <th>Package Detail</th>
                    <th>Price</th>
                    <th>Length of package</th>
                    <th>purchased</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
               {% for package in packages %}
                <tr>
                    <td>{{package.id}}</td>
                    <td>{{package.package_title }}</td>
                    <td>
                        <p>{{package.package_content}}</p>
                    </td>
                    <td><span class="label label-success">ETB {{package.package_price}}</span></td>
                    <td>{{package.package_days}} days</td>
                    <td>
                        <a class="btn btn-outline-secondary" 
                        href="/admin/purchased-package?id={{package.id}}" >
                            <span class="badge badge-primary">{{package.package.count()}}</span>
                        </a> 
                        
                    </td>
                    <td>
                        <a href="{{ url_for('delete',id=package.id,db_urls='Package',name=package.package_title)}}" class="btn btn-xs btn-danger ">
                        &nbsp;<label class="hidden-xs"> Delete</label>
                       <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
               {% endfor%}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->

{% endblock %}
