
<div id="content">
    <header class="clearfix">
        <h2 class="page-title pull-left">404!</h2>
    </header>
    <div class="content-inner">
        <p>
            Oops! Sorry the File Does not Exist!
        </p>        
        {% if g.user.is_authenticated %}
        <a href="{{ url_for('index')}}" class="btn btn-primary">Try again</a>
        {% else %}
        <a href="{{ url_for('userhome')}}" class="btn btn-primary">Try again</a>
        {% endif %}
    </div>
</div>
