{% macro render_field(field) %}
	<div class="form-group">
		<!-- <label for="{{ field.name }}" class="control-label">{{field.label.text}}</label> -->
		{{ field(class_="form-control", **kwargs)|safe }}
		<div>
			{% if field.errors%}
				{% for error in field.errors %}
					<span class="text text-danger">{{error}}</span>
				{% endfor%}
			{% endif %}
		</div>
	</div>
{% endmacro %}        

{% macro render_select_field(field) %}
	<div class="form-group">
		<!-- <label for="{{ field.name }}" class="control-label">{{field.label.text}}</label> -->
		{{ field(**kwargs)|safe }}
		<div>
			{% if field.errors%}
				{% for error in field.errors %}
					<span class="text text-danger">{{error}}</span>
				{% endfor%}
			{% endif %}
		</div>
	</div>
{% endmacro %}        
