{% extends 'user/layout.html' %}
{%block title%}Booking A tour{%endblock%}

{%block aboutmenu%}
<li class="nav-item active ">
	<a href="/about" class="nav-link">About</a>
</li>
{%endblock%}
{% block body%}
<div class="container padding">
        <div class="row text-center padding">
            <div class="col-12">
                <h2>Our Social Media Accounts</h2>
            </div>
            <div class="col-12 social padding">
                <a href="https://www.facebook.com/ttgs"><i class="fab fa-facebook"></i> </a>
                <a href="https://www.twitter.com/ttgs"><i class="fab fa-twitter"></i> </a>
                <a href="https://instagram.com/ttgs"><i class="fab fa-instagram"></i> </a>
                <a href="https://www.youtube.com/ttgs"><i class="fab fa-youtube"></i> </a>
            </div>
        </div>
    </div>
<div class="container  jumbotron">
<h3>About Us</h3>
<p>This system is be available to everyone who’s interested in going to places and making a
        lifetime adventure. It is be accessible to people from abroad and local. 
        It is only bound to tourism and related issues. The system
        displays every text based and pictured information of the tourist destinations across
        the country.</p>
</div>

{% endblock%}
{%block payment%}
{%endblock%}