{% extends 'user/layout.html' %}
{%block title%}Report Issues{%endblock%}

{%block report%}
<li class="nav-item active">
    <a href="/makereports" class="nav-link">Report</a>
</li>
{%endblock%}
{% block body%}
<div class="container">
    <div class="container text-center padding jumbotron">
        <div id="aboutbackimg">
            <div>
                <h3><b>Send a Report</b></h3>
                <hr class="light">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Dolorem non ex nisi dolore, sunt deleniti tempore minima ratione repellendus
                    id fugit tempora exercitationem totam quod sequi, asperiores eligendi
                    ipsum? Quo?
                </p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="container padding text-center jumbotron">
                <h3>Tourist's Issue report form </h3>
                <div class="form-wrapper">
                    <form method="post" action="" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="sr-only">full name</label>
                            <input type="text" class="form-control" name="fullname" placeholder="Your Full Name"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="" class="sr-only">email</label>
                            <input type="email" class="form-control" name="email" placeholder="Your email" required>
                        </div>
                        <div class="form-group">
                            <label for="" class="">select who you are reporting on</label>
                            <select name="victim" class="form-control" required>
                                <option value="tourguides">tourguides</option>
                                <option value="hotels">hotels</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="" class="sr-only">person/hotel name</label>
                            <input type="text" class="form-control" name="victimname" placeholder="Hotel/tourguide Name"
                                required>
                        </div>
                        <div class="form-group">
                            <textarea name="content" class="form-control"
                                placeholder="write the problem you saw them do" required></textarea>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Attach Image</label>
                            <input type="file" name="file" class="form-control">
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <input type="submit" value="Send Report" class=" form-control btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
            <div>
                If You Are Tour guide click <a href="/tourguide-makereports">Here
                </a> to send tour status report.
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="../static/images/carousel/7.jpg" width="100%" alt="" srcset="">
                </li>
                <li class="list-group-item">
                    <video src="../static/images/video/semien.mp4" width="100%" autoplay muted>
                    </video>
                </li>
            </ul>

        </div>
    </div>
</div>

{% endblock%}
{%block payment%}
{%endblock%}