{% extends 'user/layout.html' %}
{%block title%}Booking A tour{%endblock%}

{%block Bookmenu%}
<li class="nav-item active ">
	<a href="/select-tour" class="nav-link">Booking</a>
</li>
{%endblock%}
{% block body%}
<div class="container text-center padding jumbotron">
	<div id="aboutbackimg">
		<div>
			<h3><b>Book a tour</b></h3>
			<hr class="light">
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit.
				Dolorem non ex nisi dolore, sunt deleniti tempore minima ratione repellendus
				id fugit tempora exercitationem totam quod sequi, asperiores eligendi
				ipsum? Quo?
			</p>
		</div>
	</div>
</div>
</div>

<div class="container padding">

</div>
<div class="container ">
	<div class="row">
		<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-top text-center">
						<h2>Our tour guides</h2>
						<p>Who are in extremely love with eco friendly system.</p>
					</div>
				</div>
			</div>
			<div class="row">
				{%for tg in tourguides%}
				<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
					<div class="card">
						<img src="../static/images/tourguides/{{tg.first_name}}.jpg" class="card-img-top" alt=""
							height="300">
						<div class="card-body">
							<h4 class="card-title">{{tg.first_name}} {{tg.last_name}} </h4>
							<p class="card-text">
								<a href="mailto:{{tg.email}}">
									<span class="fa fa-envelope"></span>
									{{tg.email}}
								</a>
								<div class="row">
									<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
										<ul class="list-group list-group-flush">
											<li class="list-group-item">
												<h6 class="text text-success">
													<b>Places</b>
												</h6>
											</li>
											<li class="list-group-item">
												{%for tgplace in tgplaces%}
												{%if tgplace.tourguide.id == tg.id%}
												<a
													href="/user/tourist-attractions?id={{tg.place}}">{{tgplace.place.name}}</a><br>
												{%endif%}
												{%endfor%}
											</li>
										</ul>
									</div>
									<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
										<ul class="list-group list-group-flush">
											<li class="list-group-item">
												<h6 class="text text-success">
													<b>Language</b> </h6>
											</li>
											<li class="list-group-item">
												{%for tgskill in tgskills%}
												{%if tgskill.tourguide.id == tg.id%}
												<span>{{tgskill.skill.skill_name}}</span><br>
												{%endif%}
												{%endfor%}
											</li>
										</ul>
									</div>
								</div>
							</p>
							<!-- <a href="#" class="btn btn-outline-secondary">See Profile</a> -->
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
			<div class=" row float-right jumbotron">
				<a href="/user/more-tourguides" class=" float-right btn btn-secondary btn-sm">
					View More Tourguides
				</a>
			</div>
		</div>
		<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-top text-center">
						<h2>Adds And Most Visited sites</h2>
					</div>
				</div>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<a href="/user/tourist-attractions?category=Historical">
						<img src="../static/images/carousel/4.jpg" width="100%" alt="" srcset="">
					</a>
				</li>
				<li class="list-group-item">
					<a href="#" style="display: inline-block;margin: auto;">
						<video src="../static/images/video/Afar.mp4" width="100%" autoplay muted>
						</video>
					</a>
				</li>
				<li class="list-group-item">
					<a href="#" style="display: inline-block;margin: auto;">
						<video src="../static/images/video/ethio.mp4" width="100%" autoplay muted>
						</video>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="clearfix"></div>
	<hr>
	<div class="text-center">
		<div id="" class="text-center">
			<p class="text-center">
				<h1>
					To Start Booking A Tour
				</h1>
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
					<img src="../static/images/carousel/click.gif" alt="" height="100" srcset="">
				</button>
			</p>
		</div>
	</div>

</div>
<!-- tour guides list -->

<!-- Trigger the modal with a button -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				{% from "./includes/_formhelpers.html" import render_field, render_select_field %}
				<form action="" method="post">
					<h4 class="text text-info">Compelete The Form</h4>
					<!-- First name  and last name-->
					{{ form.hidden_tag()}}
					{{form.csrf_token}}
					<!-- name -->
					{{ render_field(form.fname, placeholder=form.fname.label.text )}}
					{{ render_field(form.email, placeholder=form.email.label.text )}}
					{{render_field(form.age, placeholder=form.age.label.text )}}
					{{render_field(form.gender, placeholder=form.gender.label.text )}}
					{{render_select_field(form.destination, placeholder=form.destination.label.text,
								class_="form-control chosen-select",id="placefield" )}}
					{{render_field(form.people, placeholder=form.people.label.text)}}
					<label> Tour Start Date</label>
					{{render_field(form.startday, placeholder=form.startday.label.text)}}
					{{render_field(form.days, placeholder=form.days.label.text)}}
					{{render_select_field(form.tourguide,placeholder=form.tourguide.label.text,
									class_="form-control chosen-select",id="tgfield" )}}
					<div class="clearfix"></div>
					<div class="form-group">
						<button type="submit" class=" form-control btn btn-primary">Next</button>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>


</div>
{% endblock%}

{%block scriptblock%}
<script>
	let place_select = document.getElementById('placefield');
	let tg_select = document.getElementById("tgfield");

	place_select.onchange = function () {
		place = place_select.value;
		fetch("/get-tourguide/" + place).then(function (response) {
			response.json().then(function (data) {
				let tgOptionHtml = '';
				for (let tg of data.tourguides) {
					tgOptionHtml += '<option value="' + tg.id + '">' + tg.name + ' ' + tg.lname + '</option>';
				}
				tg_select.innerHTML = tgOptionHtml;
			})
		})
	}
</script>
{%endblock%}