{% extends 'user/layout.html' %}
{%block title%}Booking A tour{%endblock%}

{%block Bookmenu%}
<li class="nav-item active ">
	<a href="/select-tour" class="nav-link">Booking</a>
</li>
{%endblock%}
{% block body%}
<div class="container text-center padding">


</div>

<div class="container padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Our Tour Guides</h1>
			<hr class="light">
		</div>
	</div>
</div>
<div class="container ">
	<div class="row">
		{%for tg in tourguides%}
		<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
			<div class="card">
				<img src="../static/images/tourguides/{{tg.first_name}}.jpg" class="card-img-top" alt="">
				<div class="card-body">
					<h4 class="card-title">{{tg.first_name}} {{tg.last_name}} </h4>
					<p class="card-text">
						<a href="mailto:{{tg.email}}">
							<span class="fa fa-envelope"></span>
							{{tg.email}}
						</a><br>
						Skills:
						{%for tgplace in tgplaces%}
						{%if tgplace.tourguide.id == tg.id%}
						<a href="/user/tourist-attractions?id={{tg.place}}">{{tgplace.place.name}}</a>
						{%endif%}
						{%endfor%}
						{%for tgskill in tgskills%}
						{%if tgskill.tourguide.id == tg.id%}
						<a href="#">{{tgskill.skill.skill_name}}</a>
						{%endif%}
						{%endfor%}
					</p>
					<a href="#" class="btn btn-outline-secondary">See Profile</a>
				</div>
			</div>
		</div>
		{%endfor%}
	</div>
	<div class="float-right">
		<a href="/user/more-tourguides" class=" float-right btn btn-secondary btn-sm">
			View More Tourguides
		</a>
	</div>
	<div class="clearfix"></div>
	<hr>
	<div class="text-center">
		<div id="imagebg" class="text-center">
			<p class="text-center">
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
					Click Here
				</button>
				To Start Booking A Tour
			</p>
		</div>
	</div>

</div>


<!-- Trigger the modal with a button -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				{% from "./includes/_formhelpers.html" import render_field, render_select_field %}
				<form action="" method="post">
					<h4 class="text text-info">Compelete The Form</h4>
					<!-- First name  and last name-->
					{{ form.hidden_tag()}}
					{{form.csrf_token}}
					<!-- name -->
					{{ render_field(form.fname, placeholder=form.fname.label.text )}}
					{{ render_field(form.email, placeholder=form.email.label.text )}}
					{{render_field(form.age, placeholder=form.age.label.text )}}
					{{render_field(form.gender, placeholder=form.gender.label.text )}}
					{{render_select_field(form.destination, placeholder=form.destination.label.text,
								class_="form-control chosen-select",id="placefield" )}}
					{{render_field(form.people, placeholder=form.people.label.text)}}
					<label> Tour Start Date</label>
					{{render_field(form.startday, placeholder=form.startday.label.text)}}
					{{render_field(form.days, placeholder=form.days.label.text)}}
					{{render_select_field(form.tourguide,placeholder=form.tourguide.label.text,
									class_="form-control chosen-select",id="tgfield" )}}
					<div class="clearfix"></div>
					<div class="form-group">
						<button type="submit" class=" form-control btn btn-primary">Next</button>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>


</div>
{% endblock%}

{%block scriptblock%}
<script>
	let place_select = document.getElementById('placefield');
	let tg_select = document.getElementById("tgfield");

	place_select.onchange = function () {
		place = place_select.value;
		fetch("/get-tourguide/" + place).then(function (response) {
			response.json().then(function (data) {
				let tgOptionHtml = '';
				for (let tg of data.tourguides) {
					tgOptionHtml += '<option value="' + tg.id + '">' + tg.name + ' ' + tg.lname + '</option>';
				}
				tg_select.innerHTML = tgOptionHtml;
			})
		})
	}
</script>
{%endblock%}